<!DOCTYPE html>

<html>

  <body>
    <h2>Thank you for Adopting a Pet!</h2>
    <p>You ordered <%= details.quantity %>  <%= details.color %> <%= details.pet_type %></p>
    
  </body>
</body>
</html>

